PORT=5000
FRONTEND_URL=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/scion
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
ROOT_NAME=System Administrator
ROOT_EMAIL=root@scion.local
ROOT_PASSWORD=your_root_password_here

# Email / SMTP Configuration
EMAIL_FROM=no-reply@scion.local
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASSWORD=your_smtp_password
